.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.8);
}

.booking-cta {
	margin-top: 45px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #181818;
	font-weight: 900;
}

.booking-cta p {
	font-size: 22px;
	color: #181818;
}



        .btn-google {
            color: white;
            background-color: #dd4b39;
            border-color: #dd4b39;
        }

        .btn-google:hover {
            color: white;
            background-color: #c23321;
            border-color: #c23321;
        }

        /* Optional: Google icon imitation using CSS */
        .btn-google::before {
            content: 'G';
            font-weight: bold;
            color: white;
            margin-right: 8px;
        }

